<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YourPad - Recuperar Senha</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='esqueci.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="container">

    <div class="left-side">

        <div class="logo">
            <h1>YourPad</h1>

            <p>
                Recupere sua conta e volte a escrever suas histórias,
                compartilhar ideias e descobrir novos talentos da literatura.
            </p>
        </div>

        <div class="feature-box">

            <h2>🔒 Recuperação Segura</h2>

            <p>
                Informe seu usuario cadastrado para redefinir sua senha.
            </p>

        </div>

    </div>

    <div class="right-side">

        <div class="forgot-card">

            <h2>Esqueceu sua senha?</h2>

            <span>
                Não se preocupe. Digite seu usuario
            </span>

            <form method="post">

                <div class="input-group">

                    <input type="text" name="usuario" placeholder="Digite seu usuario cadastrado">

                </div>

                <div class="input-group">

                    <input type="password" name="senha" placeholder="Digite a sua nova senha">

                </div>

                <button type="submit" class="recover-btn" >
                    Redefinir senha.
                </button>

            </form>

            <div class="back-login">

                <a href="/">
                    ← Voltar para o login
                </a>

            </div>

        </div>

    </div>

</div>

</body>
</html>